{% extends 'base.html' %}
{% block content %}
<section class="container1" id="about">
    <div class="new">
        <div class="text">
            <h1>ABOUT US</h1>
            <p>Hi! I'm Kenechukwu Okoye.👋🏾<br> Bloggy is an amazing space to share your thoughts and experiences, and<br>
            post and read spectacular blog posts all for free!</p>
        </div>
        <div class="image">
            <img src="{{url_for('static',filename='css/graduation1.JPG')}}" alt="Profile" width="300px" height="350px" style="border-radius: 50%;">
        </div>
    </div>
</section>
{% endblock content%}